{% extends "layout.html" %}

{% block content %}
<head>
    <title>{% block title %}REST API{% endblock title %}</title>
</head>

<body>
<div class="base-body">

    <h3>REST API - Documentation</h3>
    <hr>
    <br>

    <p>If you need guidance to use the My Workout STATS - REST API, this is the right place.</p>
    <br>


    <h4>Public endpoints</h4>
    <ul>
        
        <li>SignUp</li>
            <ul>
                <li>URL: /api/signup/</li>
                <li>Methods: POST</li>
                <li>Informations and examples:
                    <ul>
                        <li>Example of valid data: {"username": "example", "email": "example@mail.com", "password": "examplepass"}</li>
                        <li>Successful request: Status -> 201 Created | Body ->
                            {
                                "message": "User account (via API endpoint) successfully created",
                                "username": "example",
                                "email": "examplepass"
                            }
                        </li>
                        <li>Failed request: Status -> 400 Bad Request | Body -> { Errors }</li>
                    </ul>
                </li>
            </ul>
        <br>

        <li>LogIn</li>
            <ul>
                <li>URL: /api/login/</li>
                <li>Methods: POST</li>
                <li>Informations and examples:
                    <ul>
                        <li>Example of valid data: {"username": "example","password": "examplepass"}</li>
                        <li>Successful request: Status -> 200 OK | Body ->
                            {
                                "message": "Successfully logged in (via API endpoint).",
                                "username": "example",
                                "token": "2000531643fb..."
                            }
                            </li>
                        <li>Failed request: Status -> 400 Bad Request | Body -> { Errors }</li>
                    </ul>
                </li>
            </ul>
        <br>

        <li>LogOut</li>
            <ul>
                <li>URL: /api/logout/</li>
                <li>Methods: POST</li>
                <li>Informations and examples:
                    <ul>
                        <li>Example of valid data: {"username": "example","password": "examplepass"}</li>
                        <li>Successful request: Status -> 200 OK | Body -> {"message": "Successfully logged out (via API endpoint)."}</li>
                        <li>Failed request: Status -> 403 Forbidden | Body -> { Errors }</li>
                    </ul>
                </li>
            </ul>


    </ul>
    <br>


    <h4>Private endpoints</h4>
    <ul>

        <li>Profile</li>
            <ul>
                <li>URL: /api/profile/</li>
                <li>Methods: GET, PUT, PATCH, DELETE</li>
                <li>Informations and examples:
                    <ul>
                        <li>Example of valid data: 
                            {
                            "email": "example@email.com",
                            "first_name": Test1,
                            "last_name": Test2,
                            "age": 18,
                            "city": null,
                            "bio": null,
                            "instagram_url": "www.instagram.com"
                            }</li>
                        <li>Successful request: Status -> 200 OK | Body -> {"message": "Profile updated successfully (via API endpoint)."}</li>
                        <li>Failed request: Status -> 400 Bad Request | Body -> { Errors }</li>
                    </ul>
                </li>
            </ul>
        <br>
        
        <li>MuscleGroups</li>
            <ul>
                <li>URL: /api/musclegroups/ & /api/musclegroups/id/</li>
                <li>Methods: GET, POST, PUT, PATCH, DELETE</li>
                <li>Informations and examples:
                    <ul>
                        <li>Example of valid data: {"name": "Muscle group Example"}</li>
                        <li>Successful request: Status -> 201 Created | Body -> { Muscle group }</li>
                        <li>Failed request: Status -> 400 Bad Request | Body -> { Errors }</li>
                    </ul>
                </li>
            </ul>
        <br>

        <li>Exercises</li>
            <ul>
                <li>URL: /api/exercises/ & /api/exercises/id/</li>
                <li>Methods: GET, POST, PUT, PATCH, DELETE</li>
                <li>Informations and examples:
                    <ul>
                        <li>Example of valid data: {"name": "Test Exercises", "musclegroup": "Existing musclegroup"}</li>
                        <li>Successful request: Status -> 201 Created | Body -> { Exercise }</li>
                        <li>Failed request: Status -> 400 Bad Request | Body -> { Errors }</li>
                    </ul>
                </li>
            </ul>
        <br>

        <li>Workouts</li>
        <ul>
            <li>URL: /api/workouts/ & /api/workouts/id/</li>
            <li>Methods: GET, POST, PUT, PATCH, DELETE</li>
            <li>Informations and examples:
                <ul>
                    <li>Example of valid data: {"name": "Workout example", "public": "yes" (OR "no"), "created": "2024-12-26"}</li>
                    <li>Successful request: Status -> 201 Created | Body -> { Workout }</li>
                    <li>Failed request: Status -> 400 Bad Request | Body -> { Errors }</li>
                </ul>
            </li>
        </ul>
    <br>

    </ul>

</div>
</body>
{% endblock content %}