{% extends "layout.html" %}

{% block content %}
<head>
    <title>{% block title %}REST API{% endblock title %}</title>
</head>

<body>
<div class="base-body">
    <h3>REST API - Documentation</h3>
    <hr>
    <br>

    <p>If you need guidance to use the My Workout STATS - REST API, this is the right place.</p>
    <p>
        The API is documented with <a href="https://github.com/tfranzel/drf-spectacular/">drf-spectacular</a>:
        <ul>
            <li><a href='../api/'>Browsable API</a></li>
            <li><a href='{% url "swagger-ui" %}'>Swagger UI</a></li>
            <li><a href='{% url "redoc" %}'>Redoc</a></li>
            <li><a href='{% url "schema" %}'>Download openAPI 3 schema file</a></li>
        </ul>
    </p>
</div>


<div class="base-body">
    <h3>REST API - Authentication</h3>
    <hr>
    <br>

    <p>Some API endpoints, such as the list of workouts or exercises are private (because they contain user owned objects) and can be accessed only with authentication.</p>
    <p>A list of public and private endpoints is available further in this page or they can be found reading API documentation.</p>
    <p>To have access to a private endpoint you need to generate a temporary token which you send in the header with each request that needs authorization.</p>
    <p>Please follow the next steps to generate access token:</p>

    <ol type="1">
        <li>Sign Up or Log In</li>
            <p>
                If you aren't already registered you can generate tokens (and register an account) using a POST request to the <b>/api/signup/</b> url:
                {
                    "username": "string",
                    "email": "user@example.com",
                    "password": "string"
                }
            </p>
            <p>
                Output should be:
                {
                    "message": "User account (via API) successfully created",
                    "username": "string",
                    "email": "user@example.com",
                    "refresh token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                    "access token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                }

            <br><br>

            <p> 
                If you are already registered you can generate tokens (and login account) using a POST request to the <b>/api/login/</b> url:
                {
                    "username": "string",
                    "password": "string"
                }
            </p>
                Output should be:
                {
                    "message": "Successfully logged in (via API).",
                    "username": "user@example.com",
                    "refresh token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                    "access token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                }
            <p>

        <li>Authorization with token and Refreshing the token</li>
            <p>
                Pass the access token in the Authorization header as "Authorization: Bearer <b>access token value</b>" to every private endpoint.
            </p>
            <p>
                Please be aware that access token is valid for 60 minutes.
                When your access token expire or it has been compromised you can generate a new one sending refresh token via a POST request to the <b>/api/token/refresh/</b> url:
                {
                    "username": "string",
                    "password": "string",
                    "refresh": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                }
            </p>
            <p>
                Output should be:
                {
                    "access": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                }
            </p>
            <p>
                Please be aware that refresh token is valid for 1 day.
                When your refresh token expire or it has been compromised you can generate a new one logging in.
            </p>
    </ol>
</div>


<div class="base-body">
    <h3>REST API - Endpoints</h3>
    <hr>
    <br>

    <h4>Public endpoints:</h4>
    <ul>
        <li>Sign Up: /api/signup/</li>
        <li>Log In: /api/login/</li>
        <li>Refresh token: /api/token/refresh/</li>
    </ul>
    
    <h4>Private endpoints:</h4>
    <ul>
        <li>Profile: /api/profile/</li>
        <li>MuscleGroups: /api/musclegroups/ & /api/musclegroups/id/</li>
        <li>Exercises: /api/exercises/ & /api/exercises/id/</li>
        <li>Workouts: /api/workouts/ & /api/workouts/id/</li>
        <li>WorkoutExercises: /api/workout-exercises/ & /api/workout-exercises/id/</li>
        <li>Sets: /api/sets/ & /api/sets/id/</li>
        <li>WorkoutsDetailed: /api/workouts-detailed/ & /api/workouts-detailed/id/</li>
    </ul>
</div>


<div class="base-body">
    <h3>REST API - Miscellaneous operations</h3>
    <hr>
    <br>

    <p>
        <b>Pagination</b>: by default all results are paginated by 10 elements per page.
        If you want to change this value, add a ?limit=numeric_value to your query - /api/exercises/?limit=20.
        You will find in the answer JSON the next and previous keywords with links to the next or previous result pages.
    </p>

    <p>
        <b>Ordering</b>: simply use ?ordering=field_name to order by that field - /api/workouts/?ordering=id.
        You can also specify more than one field name, just give it a list separated by commas ?ordering=field1,field2 - /api/workouts/?ordering=id,public.
        To reverse the order use like in django a - in front of the field - /api/workouts/?ordering=-bodyweight.
        If you acces endpoint from your browser you can also use the Filters button from the page.
    </p>

    <p>
        <b>Filtering</b>: you can easily filter all resources by specifying the filter queries in the URL: ?field_name=value - /api/workouts/?public=yes.
        Combinations are possible, the filters will be AND-joined: ?fieldl1=value1&field2=value2 - /api/workouts/?bodyweight=75&public=no.
        Please note that for boolean values you must pass 'False' or 'True' other values, e.g. 1, 0, false, etc. will be ignored.
    </p>

    <p>
        <b>Some examples of ordering, filtering:</b>
        <ul>
            <li>/api/musclegroups/?created=2024-12-28</li>
            <li>/api/musclegroups/?search=Ab (search after name)</li>
            <li>/api/musclegroups/?ordering=name (can order after id, name)</li>
            <li>by default the order of elements on the page is alphabetical</li>
        </ul>
        
        <ul>
            <li>/api/exercises/?created=2024-12-28 </li>
            <li>/api/exercises/?search=Ab (search after name)</li>
            <li>/api/exercises/?ordering=-id (can order after id)</li>
            <li>by default the order of elements on the page is after the ID, descending (newest exercises will be first)</li>
        </ul>
        
        <ul>
            <li>/api/workouts/?created=&bodyweight=&public=no (can filter after created date, bodyweight or visibility - yes/no)</li>
            <li>/api/workouts/?search=day (search after name)</li>
            <li>/api/workouts/?ordering=updated (can order after id, bodyweight, public, updated date)</li>
            <li>by default the order of elements on the page is after the ID, descending (newest exercises will be first)</li>
        </ul>
        <ul>
            <li>/api/workouts/?created=&bodyweight=&public=no (can filter after created date, bodyweight or visibility - yes/no)</li>
            <li>/api/workouts/?search=day (search after name)</li>
            <li>/api/workouts/?ordering=updated (can order after id, bodyweight, public, updated date)</li>
            <li>by default the order of elements on the page is after the ID, descending (newest exercises will be first)</li>
        </ul>
        <ul>
            <li>/api/sets/?type=&weight=&repetitions=&distance=&time=
            (can filter after type - warmup, working, dropset, restpause, myo, cluster, super - and weight, repetitions, distance, time)</li>
            <li>/api/sets/?distance=&ordering=weight&repetitions=8 (can order after id, type, weight, repetitions, distance, time, updated date)</li>
            <li>by default the order of elements on the page is after the ID, descending (newest exercises will be first)</li>
        </ul>
    </p>
</div>
</body>
{% endblock content %}