{% extends "layout.html" %}

{% block content %}
<head>
    <title>{% block title %}Log In{% endblock title %}</title>
</head>

<body>
<div class="base-body">
    <h3>Log In</h3>
    <hr>
    <br>

    <form method="POST" action="">
        {% csrf_token %}

        <label>Username:</label>
        <input type="text" name="username" placeholder="Enter username"/><br><br>

        <label>Password:</label>
        <input type="password" name="password" placeholder="Enter password"/><br><br>

        <input type="submit" class="button addBtn" value="Log In" /><br><br>
    </form>

    {% if messages %}
        <p>Login attempt unsuccessful:</p>
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <br>
    <p>Forgot username or password? <a href="{% url "recover" %}"><b>Recover account</b></a></p>
    <p>Haven't signed up yet? <a href="{% url 'signup' %}"><b>Sign Up</b></a></p>
</div>
</body>
{% endblock content %}