{% extends "layout.html" %}

{% load socialaccount %}

{% block content %}
<head>
    <title>{% block title %}Log In{% endblock title %}</title>
</head>

<body>
<div class="base-body">
    <h3>Log In using your personal MyWorkoutSTATS account</h3>
    <hr>
    <br>

    <form method="POST" action="">
        {% csrf_token %}

        <label>Username:</label>
        <input type="text" name="username" placeholder="Enter username"/><br><br>

        <label>Password:</label>
        <input type="password" name="password" placeholder="Enter password"/><br><br>

        <input type="submit" class="button addBtn" value="Log In" /><br><br>
    </form>

    {% if messages %}
        <p>Log In attempt unsuccessful:</p>
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>

<div class="base-body">
    <h3>Log In using your personal Google account</h3>
    <hr>
    <br>

    <a href="{% provider_login_url 'google' %}" class="button addBtn">Sign In with Google</a>
</div>

<div class="base-body">
    <h3>Creating or recovering an account</h3>
    <hr>
    <br>

    <p>Haven't signed up yet? <a href="{% url 'signup' %}" class="button addBtn"><b>Create account</b></a></p>
    <p>Forgot username or password? <a href="{% url "recover" %}" class="button editBtn"><b>Recover account</b></a></p>
</div>
</body>
{% endblock content %}