{% extends "layout.html" %}

{% load socialaccount %}

{% block content %}
<head>
    <title>{% block title %}Sign Up{% endblock title %}</title>
</head>

<body>
<div class="base-body">
    <h3>Sign Up creating your personal MyWorkoutSTATS account</h3>
    <hr>
    <br>

    <form method="POST" action="">
        {% csrf_token %}

        {{ form.as_p }}
        <input type="submit" class="button addBtn" value="Sign Up" />
    </form>

    {% if messages %}
        <p>Sign Up attempt unsuccessful:</p>
        <ul class="messages">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        </ul>
    {% endif %}
</div>   

<div class="base-body">
    <h3> Sign Up using your personal Google account</h3>
    <hr>
    <br>

    <a href="{% provider_login_url 'google' %}" class="button addBtn">Sign Up with Google</a>
</div> 

<div class="base-body">   
    <h3>Already signed up?</h3>
    <hr>
    <br>
    
    <a href="{% url 'login' %}" class="button editBtn"><b>Log In</b></a>
</div>
</body>
{% endblock content %}