/* General */
.button {
    display: inline-block;
    width: 150px; 
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.addBtn {
    background-color: #28a745;
    color: white;
}

.deleteBtn {
    background-color: #dc3545;
    color: white;
}

.editBtn {
    background-color: #ddad00;
    color: white;
}

.button:hover {
    opacity: 0.7;
}