/* Cookies */
.cookie-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1c1e26;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-size: 14px;
}

.cookie-container p {
    display: inline-block;
    margin: 0;
    padding-right: 10px;
}

.cookie-container button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.cookie-container button:hover {
    background-color: #45a049;
}


/* Navbar */
.header {
    background-color: #1c1e26;
    padding: 0px 50px;
    text-align: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo-and-name {
    display: flex;
    align-items: center;
    gap: 0;
}

.header a {
    text-decoration: none;
    color: white;
}

.header p {
    font-size: 20px;
    line-height: 0.6;
}

.hamburger {
    display: none; /* Not shown on high resolutions  */
}

.header-links {
    display: flex;
    gap: 40px;
}

.header-links a:hover {
    background-color: #444;
}

/* Hamburger menu for small resolutions (mobile) */
@media screen and (max-width: 768px) {
    .header-links {
        display: none;
        flex-direction: column;
        background-color: #1c1e26;
        position: absolute;
        top: 50px; /* Menu starts under header */
        right: 0; /* Menu starts right side */
        width: 25%;
        text-align: center;
    }

    .header-links.active {
        display: flex;
    }

    .header-links a {
        padding: 0px 5px;
        display: block; /* New line for every element */
        color: white;
        text-decoration: none;
    }

    .header-links a:hover {
        background-color: #444;
    }

    .hamburger {
        display: block; /* Shown on small resolutions */
        cursor: pointer;
    }
}


/* Wrapper (used for footer) */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    min-height: 100%; 
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

/* Footer */
.footer {
    background-color: #1c1e26;
    color: white;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

.footer-links {
    margin-bottom: 10px;
}

.footer-links a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer p {
    font-size: 14px;
    margin: 0;
}


/* General */
body {
    background-color: #282A35;
    font-family: sans-serif;
    color: white;
    margin: 0;
  }

a {
    text-decoration: none;
}

.base-body {
    background-color: #1c1e26;
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}

.inline-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.inline-buttons a, .inline-buttons form {
    display: inline-block;
    margin: 0;
}

.pfp-small img {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
  }


/* User Profile */
.profile-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}


/* select_exercise.html */
.select-exercise {
    display: grid;
    grid-template-columns: 1fr 3fr;
}