/* Cookies */
.cookie-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1c1e26;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-size: 14px;
}

.cookie-container p {
    display: inline-block;
    margin: 0;
    padding-right: 10px;
}

.cookie-container button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.cookie-container button:hover {
    background-color: #45a049;
}


/* Navbar */
.header {
    background-color: #282A35;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo-and-name {
    display: flex;          
    align-items: center;    
    gap: 0;                 
}

.header-status {
    display: flex;
}

.logged {
    display: flex;
    align-items: center;    
    gap: 30px;                
}

.header p {
    color: white;
    font-size: 20px;
    line-height: 0.6;
}

.header a {
    text-decoration: none;
}

.header b {
    color: white;
    text-decoration: none;
}

.pfp-small img {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
  }


/* Footer */
.footer {
    background-color: #282A35;
    color: white;
    padding: 20px 0;
    text-align: center;
    width: 500px;
    margin: auto;
}

.footer p {
    font-size: 14px;
    line-height: 0.6;
}


/* General */
body {
    background-color: #282A35;
    font-family: sans-serif;
    color: white;
  }

a {
    text-decoration: none;
}

.base-body {
    background-color: #1c1e26;
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}


/* User Profile */
.profile-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}


/* select_exercise.html */
.select-exercise {
    display: grid;
    grid-template-columns: 1fr 3fr;
}