{% extends "layout.html" %}

{% block content %}
<head>
    <title>{% block title %}View private workout{% endblock title %}</title>
</head>

<body>
<div class="base-body">
{% if workout.user == request.user %}
    <h3>View Private Workout</h3>
    <hr>
    <br>

    <h4>Workout name: {{ workout.name }}</h4>
    <h4> Workout details: Created on {{ workout.created }} with latest update on {{ workout.updated }} </h4>
    <h4>My bodyweight: {% if workout.bodyweight  %} {{ workout.bodyweight }} {% else %} Not added {% endif %}</h4>
    <h4>My notes: {% if workout.note %} {{ workout.note }} {% else %} Not added {% endif %}</h4>
    <h4>Workout visibility: {% if workout.public == "yes" %} Public {% else %} Private {% endif %}</h4>
    <br />

    <h4>Exercises:</h4>
    {% for exercise in workout.exercises.all %}
        <p>
            <b>Exercise #{{ forloop.counter }}: {{ exercise.name }}</b>
            -- muscle group: <b>{{ workingset.workout_exercise.exercise.musclegroup.name }}</b>:
        </p>

        <ol type="1">
            {% for workingset in workingsets %}
                {% if workingset.workout_exercise.exercise == exercise %}
                    <li>
                        Set type: <b>{{ workingset.get_type_display }}</b> --
                        {% if workingset.weight or workingset.repetitions %}
                            Weight: <b>{{ workingset.weight }}</b>, Reps: <b>{{ workingset.repetitions }}</b>
                        {% elif workingset.distance or workingset.time %}
                            Distance: <b>{{ workingset.distance }}</b>, Time: <b>{{ workingset.time }}</b>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ol>
    {% endfor %}
    
    <div class="inline-buttons">
        <a href='{% url "import-workout" workout.id %}' class="button addBtn">Import workout</a>
        <a href='{% url "workouts" %}' class="button backBtn">Go back</a>
    </div>

{% else %}
    <p>This workout is not yours and is not public.</p>
{% endif %}

</div>
</body>
{% endblock content %}