{% extends "layout.html" %}

{% block content %}
<head>
    <title>{% block title %}Delete exercise{% endblock title %}</title>
</head>

<body>
<div class="base-body">
    <h1>Delete a exercise</h1>

    <div>
        <p>
            Are you sure you want to delete exercise "{{ exercise.name }}"?
        </p>

        <form method="POST" action="">
        {% csrf_token %}

        <input class="button deleteBtn" type="Submit" value="Confirm" />
        </form>

        <p>
            <a href="{% url 'exercises' %}" class="button backBtn">Go back</a>
        </p>
    </div>
</div>
</body>
{% endblock content %}