{% extends "layout.html" %}

{% block content %}
<head>
    <title>{% block title %}Delete exercise{% endblock title %}</title>
</head>

<body>
<div class="base-body">
    <h3>Delete a exercise</h3>
    <hr>
    <br>

    <div>
        <p>Are you sure you want to delete exercise "{{ exercise.name }}" (all associated sets will also be deleted)?</p>

        <form method="POST" action="">
        {% csrf_token %}

        <input class="button deleteBtn" type="Submit" value="Confirm" />
        </form>

        <p><a href="{% url 'exercises' %}" class="button backBtn">Go back</a></p>
    </div>
</div>
</body>
{% endblock content %}