{% extends "layout.html" %}

{% block content %}
<head>
    <title>{% block title %}Login{% endblock title %}</title>
</head>

<body>
<div>
    <form method="POST" action="">
        {% csrf_token %}

        <label>Username:</label>
        <input type="text" name="username" placeholder="Enter username"/>

        <label>Password:</label>
        <input type="password" name="password" placeholder="Enter password"/>

        <input type="submit" value="Login" />
    </form>
    <p>Haven't signed up yet?</p>
    <a href="{% url 'register' %}">Sign up</a>
    
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
</body>
{% endblock content %}