{% extends "layout.html" %}

{% block content %}
<head>
    <title>{% block title %}Main{% endblock title %}</title>
</head>

<body>
<br>
<div>
    <center>
    {% if user.is_authenticated %}
        <button id="oneDayBackBtn">Previous Day</button>
        <button id="currentDayBtn">Current Day</button>
        <button id="oneDayLaterBtn">Next Day</button>
    {% endif %}
    </center>
</div>

<div class="base-body">
{% if not user.is_authenticated %}
    <h2>Welcome to <i>My Workout STATS</i> - a clean, simple and newbie friendly workout tracking app.</h2>
    <p>Please <a href="{% url 'login' %}"><strong>log in</strong></a> to add your workout. If you don't have an account, please <a href="{% url 'signup' %}"><strong>sign up</strong></a> to use our features:</p>
    <ul>
        <li>newly registered users have 128 exercises assigned to 8 different muscle groups ready to be added to personal workouts</li>
        <li>users have a profile with personal informations and workouts made public</li>
        <li>users can create, edit and delete exercises and muscle groups</li>
        <li>users can create, edit and delete workouts, and for each one they can add a body weight value and a personal note</li>
        <li>users can add and remove unlimited exercises to a workout</li>
        <li>users can add, copy, edit and remove unlimited sets to an exercise from a workout</li>
        <li>users can select their set type from options: warmup, working, drop, rest pause, myo, cluster or superset</li>
        <li>users can navigate through days and have a workout for each day</li>
        <li>users can make their workouts public to be seen by other community users</li>
        <li>users from community can leave, edit and delete comments on a public workout</li>
        <li>users from community can like and unlike a public workout</li>
        <li>users can sort public workouts by number of likes and date</li>
        <li>users can import their personal previous workouts or public workouts (copy exercises and sets)</li>
    </ul>

{% else %}
    {% if workouts %}
    <h1><center>Workout log for {{ target_date }}.</center></h1>
    <br />
        {% for workout in workouts %}
            <h3>Workout name: {{ workout.name }}</h3>
            <h3>My bodyweight: {% if workout.bodyweight  %} {{ workout.bodyweight }} {% else %} Not added {% endif %}</h3>
            <h3>My notes: {% if workout.note %} {{ workout.note }} {% else %} Not added {% endif %}</h3>
            <h3>Workout visibility: {% if workout.public == "yes" %} Public {% else %} Private {% endif %}</h3>

            <br />
            <h3>Exercises:</h3>
            
            {% for exercise in workout.exercises.all %}
            <p>
                <b>Exercise #{{ forloop.counter }}: {{ exercise.name }}</b> -- muscle group: {{ exercise.musclegroup.name }}
                <div class="inline-buttons">
                    <a href='{% url "create-workingset" exercise.id workout.id %}' class="button addBtn">Add set</a>
                    <a href='{% url "remove-exercise" exercise.id %}' class="button deleteBtn">Remove exercise</a>
                </div>
            </p>

            <ol type="1">
                {% for workingset in workingsets %}
                    {% if workingset.exercise == exercise and workingset.created == workout.created %}
                    <li>
                        Set type: <b>{{ workingset.get_type_display }}</b> --
                        {% if workingset.weight or workingset.repetitions %}
                            Weight: <b>{{ workingset.weight }}</b>, Reps: <b>{{ workingset.repetitions }}</b>
                        {% elif workingset.distance or workingset.time %}
                            Distance: <b>{{ workingset.distance }}</b>, Time: <b>{{ workingset.time }}</b>
                        {% endif %}
                        <div class="inline-buttons">
                            <a href='{% url "copy-workingset" workingset.id %}' class="button addBtn">Copy set</a>
                            <a href='{% url "edit-workingset" workingset.id %}' class="button editBtn">Edit set</a>
                            <a href='{% url "delete-workingset" workingset.id %}' class="button deleteBtn">Remove set</a>
                        </div>
                        <br /><br />
                    </li>
                    {% endif %}
                {% endfor %}
            </ol>
            {% endfor %}
            <div class="inline-buttons">
                <a href='{% url "select-exercise" workout.id %}' class="button addBtn">Add exercise</a>
                <a href='{% url "edit-workout" workout.id %}' class="button editBtn">Edit workout</a>
                <a href='{% url "delete-workout" workout.id %}' class="button deleteBtn">Delete workout</a>
            </div>
            <br/ ><br /><br />
        {% endfor %}

    {% else %}
        <h1><center>Workout log for {{ target_date }} is empty.</center></h1>
        <br />
        <div class="inline-buttons">
            <a href='{% url "create-workout" %}' class="button addBtn">Create new workout</a>
            <a href='{% url "workouts" %}' class="button addBtn">Import private workout</a>
            <a href='{% url "public-workouts" %}' class="button addBtn">Import public workout</a>
        </div>
        <br />
    {% endif %}
{% endif %}
</div>

{% load static %}
<script src="{% static 'js/script_main.js' %}"></script>
</body>
{% endblock content %}