{% extends "layout.html" %}

{% block content %}
<head>
    <title>{% block title %}About{% endblock title %}</title>
</head>

<body>
<div class="base-body">

    <h3>About</h3>
    <hr>
    <br>

    <p>Thank you for using My Workout STATS! This is a open source project, made by a fitness enthusiast by his own view and needs.</p>
    <br>

    <h4>About author</h4>
    <p>Project developed by <b>Cretu Vladut</b>: vladutcretu98@gmail.com | Linkedin | <a href="https://github.com/vladutcretu" target="_blank">Github</a></p>

    <p>Source code: Get the source code of this application on <a href="https://github.com/vladutcretu/MyWorkoutSTATS" target="_blank">github</a>.
    
    <p>Have a problem or idea? Get in touch on <a href="https://github.com/vladutcretu/MyWorkoutSTATS/issues/new" target="_blank">github</a> if something didn't behave as expected or if there is a feature that you feel is missing.
    <br><br><br>

    <h4>About updates</h4>
    <p>
        <ul>

            <li>Sep 2, 2024</li>
            <ul>
                <li>Version <b>alpha.v1</b>:
                    <a href="https://github.com/vladutcretu/MyWorkoutSTATS/commit/b0b2539af7946e37dcd64eb4e34df37eea7198c6" target="_blank">
                        Starting project
                    </a>
                </li>

                <li>Version <b>alpha.v2</b>:
                    <a href="https://github.com/vladutcretu/MyWorkoutSTATS/commit/c7686c33ec5dedf0780e929b9c082179105ebe1e" target="_blank">
                        Create Home, Login, Logout and Register
                    </a>
                </li>
                
                <li>Version <b>alpha.v3</b>:
                    <a href="https://github.com/vladutcretu/MyWorkoutSTATS/commit/9f152e3f0798667badfb478fb0fd1a03fc1925d5" target="_blank">
                        Create Custom Register & Account Recovery with email
                    </a>
                </li>

                <li>Version <b>alpha.v4</b>:
                    <a href="https://github.com/vladutcretu/MyWorkoutSTATS/commit/a1f779659f6992aaedf1d5ef6d8dc5e28b7500a5" target="_blank">
                        Add static elements and basic site design
                    </a>
                </li>
                
                <li>Version <b>alpha.v5</b>:
                    <a href="https://github.com/vladutcretu/MyWorkoutSTATS/commit/1a41954de50d31ea48f6cd4a9b05ad8ed59cd364" target="_blank">
                        Create Custom User with more user informations and profile
                    </a>
                </li>
                
                <li>Version <b>alpha.v6</b>:
                    <a href="https://github.com/vladutcretu/MyWorkoutSTATS/commit/03378e21dd30d23da8a68f2aadddd09ff37336b8" target="_blank">
                        Change password feature
                    </a>
                </li>
            </ul>

            <li>Sep 3, 2024</li>
            <ul>
                <li>Version <b>alpha.v7</b>:
                    <a href="https://github.com/vladutcretu/MyWorkoutSTATS/commit/8b069424b4fa38c43a2fed643e122c24287729ff" target="_blank">
                        Create whole 'environment' for MuscleGroup and Exercise
                    </a>
                </li>

                <li>Version <b>alpha.v8</b>:
                    <a href="https://github.com/vladutcretu/MyWorkoutSTATS/commit/d25ea30a291d4d0e5b380e97e14b1c5e7c132654" target="_blank">
                        Create whole 'environment' for Workout
                    </a>
                </li>

                <li>Version <b>alpha.v9</b>:
                    <a href="https://github.com/vladutcretu/MyWorkoutSTATS/commit/7874477aa9442cbdd850a4d05fe19dfc6c56f16f" target="_blank">
                        Create whole 'environment' for WorkoutExercise
                    </a>
                </li>
            </ul>

            <li>Sep 4, 2024</li>
            <ul>
                <li>Version <b>alpha.v10</b>:
                    <a href="https://github.com/vladutcretu/MyWorkoutSTATS/commit/51da96c42555c68d38557916527959ec3c19ef5d" target="_blank">
                        Create whole 'environment' for Working Sets
                    </a>
                </li>
            </ul>

            <li>Sep 10, 2024</li>
            <ul>
                <li>Version <b>alpha.v11</b>:
                    <a href="https://github.com/vladutcretu/MyWorkoutSTATS/commit/f2f9dcebf85dae557e025e29a2ace0c4a3d848e1" target="_blank">
                        Edit main page to add navigate through days option
                    </a>
                </li>
            </ul>

            <li>Sep 11, 2024</li>
            <ul>
                <li>Version <b>alpha.v12</b>:
                    <a href="https://github.com/vladutcretu/MyWorkoutSTATS/commit/7c76e826fb758fb7be7984f6d552536a2aed0db1" target="_blank">
                        Create Public workouts and View public workouts pages
                    </a>
                </li>

                <li>Version <b>alpha.v13</b>:
                    <a href="https://github.com/vladutcretu/MyWorkoutSTATS/commit/e3c49359956bb819f5e2e271b451eef166b8ed60" target="_blank">
                        Add Comments feature to View public workout
                    </a>
                </li>

                <li>Version <b>alpha.v14</b>:
                    <a href="https://github.com/vladutcretu/MyWorkoutSTATS/commit/36becfd5e4711645e9fa18b01680ee4ce1ea992d" target="_blank">
                        Add replies to comments in View public workout
                    </a>
                </li>
            </ul>

            <li>Sep 12, 2024</li>
            <ul>
                <li>Version <b>alpha.v15</b>:
                    <a href="https://github.com/vladutcretu/MyWorkoutSTATS/commit/b26fec1db89e5a28e54db2cc6eae8cdbb36ab25f" target="_blank">
                        Add Likes to View public workout
                    </a>
                </li>

                <li>Version <b>alpha.v16</b>:
                    <a href="https://github.com/vladutcretu/MyWorkoutSTATS/commit/2bf19023c5b8f83cbbd518a7e916c5e981af3349" target="_blank">
                        Create import workout feature
                    </a>
                </li>
            </ul>

            <li>Sep 17, 2024</li>
            <ul>
                <li>Version <b>alpha.v17</b>:
                    <a href="https://github.com/vladutcretu/MyWorkoutSTATS/commit/044aab3bdec22bb62bbc2d6b325baf5d880839df" target="_blank">
                        Add set types
                    </a>
                </li>
            </ul>

            <li>Sep 18, 2024</li>
            <ul>
                <li>Version <b>alpha.v18</b>:
                    <a href="https://github.com/vladutcretu/MyWorkoutSTATS/commit/7f7f4bdc4142aad5ffd635db5ebff42607e2ec7c" target="_blank">
                        Add copy set feature
                    </a>
                </li>
            </ul>

            <li>Sep 23, 2024</li>
            <ul>
                <li>Version <b>alpha.v19</b>:
                    <a href="https://github.com/vladutcretu/MyWorkoutSTATS/commit/22c902acd41b61356ee19e3e61a02d6e4fc8ced0" target="_blank">
                        Navbar & footer completed + mobile friendliness increased
                    </a>
                </li>
            </ul>

            <li>Sep 23, 2024</li>
            <ul>
                <li>Version <b>alpha.v20</b>:
                    <a href="https://github.com/vladutcretu/MyWorkoutSTATS/commit/5387b64a56d3261ed77507217abfd2c452323db8" target="_blank">
                        Delete account feature + small fixes (about display)
                    </a>
                </li>
            </ul>

            <li>Sep 30, 2024</li>
            <ul>
                <li>Version <b>alpha.v21</b>:
                    <a href="https://github.com/vladutcretu/MyWorkoutSTATS/commit/fa334fa20a14059e9efe6160668f696bb4663f9d" target="_blank">
                        Add body weight analysis
                    </a>
                </li>
            </ul>
        </ul>
    </p>





</div>
</body>
{% endblock content %}