{% extends "layout.html" %}

{% block content %}
<head>
    <title>{% block title %}Remove exercise{% endblock title %}</title>
</head>

<body>
<div class="base-body">
    <h3>Delete exercise from workout</h3>
    <hr>
    <br>

    <div>
        <p>Are you sure you want to remove exercise "{{ exercise.name }}" from the workout?</p>

        <form method="POST" action="">
        {% csrf_token %}
                    
        <input class="button deleteBtn" type="submit" value="Confirm">
        </form>

        <p><a href="{% url 'main' %}" class="button backBtn">Go back</a></p>
    </div>
</div>
</body>
{% endblock content %}