{% extends "layout.html" %}

{% block content %}
<head>
    <title>{% block title %}Change Password{% endblock title %}</title>
</head>

<body>
<div class="base-body">
    <h3>Change password</h3>
    <hr>
    <br>
    
    <form method="POST" action="">
        {% csrf_token %}

        {{ form.as_p }}
        <input class="button editBtn" type="submit" value="Change Password"/>
    </form>

    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        </ul>
    {% endif %}

    <p>
        <a href="{% url 'account' %}" class="button backBtn">Go back</a>
    </p>
</div>
</body>
{% endblock content %}