{% extends "layout.html" %}

{% block content %}
<head>
    <title>{% block title %}Sign Up{% endblock title %}</title>
</head>

<body>
<div class="base-body">
    <h3>Sign Up</h3>
    <hr>
    <br>

    <form method="POST" action="">
        {% csrf_token %}

        {{ form.as_p }}
        <input type="submit" class="button addBtn" value="Sign Up" />
    </form>

    {% if messages %}
        <p>Sign up attempt unsuccessful:</p>
        <ul class="messages">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        </ul>
    {% endif %}

    <br>
    <p>Already signed up? <a href="{% url 'login' %}"><b>Log In</b></a></p>
</div>
</body>
{% endblock content %}