{% extends "layout.html" %}

{% block content %}
<head>
    <title>{% block title %}Account{% endblock title %}</title>
</head>

<body>
<div class="base-body">
    <h3>Account</h3>
    <hr>
    <br>

    <div class="inline-buttons">
        <h3>Manage:</h3>
        <a href='{% url "workouts" %}' class="button editBtn">workouts</a>
        <a href='{% url "musclegroups" %}' class="button editBtn">muscle groups</a>
        <a href='{% url "exercises" %}' class="button editBtn">exercises</a>
        <a href='{% url "sets" %}' class="button editBtn">sets</a>
    </div>

    <div class="inline-buttons">
        <h3>Analyze:</h3>
        <a href='{% url "analyze-bodyweight" %}' class="button editBtn">bodyweight</a>
        <a href='{% url "analyze-volume" %}' class="button editBtn">volume</a>
        <a href='{% url "analyze-records" %}' class="button editBtn">records</a>
    </div>

    <div class="inline-buttons">
        <h3>Settings:</h3>
        <a href="{% url "change-password" %}" class="button editBtn">Change password</a>
        <a href="{% url "delete-account" %}" class="button editBtn">Delete account</a>
    </div>

</div>
</body>
{% endblock content %}