{% extends "layout.html" %}

{% block content %}
<head>
    <title>{% block title %}View public workout{% endblock title %}</title>
</head>

<body>
<div class="base-body">
{% if workout.public == "yes" %}
    <h3>Workout name: {{ workout.name }}</h3>
    <h3>
        Workout details:
        Created by {% if workout.user == request.user %}you {% else %}<a href='{% url "profile" workout.user.id %}'>{{ workout.user }}</a> {% endif %}
        on {{ workout.created }} with latest update on {{ workout.updated }}
    </h3>
    <h3>Exercises:</h3>
        {% for exercise in workout.exercises.all %}
            <p>{{ forloop.counter }}. {{ exercise.name }}</p>

            <ol type="1">
            {% for workingset in workingsets %}
                {% if workingset.exercise == exercise and workingset.created == workout.created %}
                    <li>
                        Set type: <b>{{ workingset.get_type_display }}</b> --
                        {% if workingset.weight and workingset.repetitions %}
                            Weight: <b>{{ workingset.weight }}</b>, Reps: <b>{{ workingset.repetitions }}</b>
                        {% elif workingset.distance and workingset.time %}
                            Distance: <b>{{ workingset.distance }}</b>, Time: <b>{{ workingset.time }}</b>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
            </ol>
        {% endfor %}
    <br />
        <p>
            {% if not workout.total_likes %} No one liked this workout yet😔. Be first!
            {% elif workout.total_likes == 1 %}</b>{{ workout.total_likes }}</b> member liked this workout.
            {% else %} </b>{{ workout.total_likes }}</b> members liked this workout.
            {% endif %}
        </p>
        <div class="workout-inline-buttons">
            <!-- Workout like button -->
             {% if workout.user != request.user %}
                <form method="POST" action="{% url 'like-workout' workout.id %}">
                    {% csrf_token %}

                    {% if user in workout.likes.all %}
                        <button class="button deleteBtn" type="submit">Unlike</button>
                    {% else %}
                        <button class="button addBtn"type="submit">Like</button>
                    {% endif %}
                </form>
            {% endif %}
            <a href='{% url "import-workout" workout.id %}' class="button addBtn">Import workout</a>
            <a href='{% url "public-workouts" %}' class="button backBtn">Go back</a>
    </div>
    </div>

{% else %}
    <p>This workout is not yours and is not public.</p>
{% endif %}
</div>

<div class="base-body">
    <h3>Comments</h3>

    <!-- Form to add a comment -->
    <form method="POST" action="{% url 'create-comment' workout.id %}">
        {% csrf_token %}

        {% comment %} <textarea name="comment" placeholder="Add a comment..." required></textarea> {% endcomment %}
        <input name="comment" placeholder="Add a comment..." required/>
        <button class="button addBtn" type="submit">Submit comment</button>
    </form>

    <!-- Display errors -->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </ul>
    {% endif %}

    <!-- Display comments and replies -->
    <div>
        {% for comment in comments %}
            <div class="pfp-small">
                <p>
                    <img src='{{ comment.user.profile_picture.url }}' />
                    <a href='{% url "profile" comment.user.id %}'>{{ comment.user.username }}</a>: 
                    <b>{{ comment.content }}</b>
                    (Posted on: {{ comment.created }}, Latest update on: {{ comment.updated }})
                
                    {% if comment.user == request.user %}
                        <a href='{% url "edit-comment" workout.id comment.id %}' class="button editBtn">Edit comment</a>
                        <a href='{% url "delete-comment" workout.id comment.id %}' class="button deleteBtn">Delete comment</a>
                    {% else %}
                            <a href='' class="button addBtn" onclick="document.getElementById('reply-form-{{ comment.id }}').style.display='block'; return false;">Reply to comment</a>
                            <a href='' class="button deleteBtn">Report comment</a>
                    {% endif %}
                </p>

                <!-- Form to add a reply to a top-level comment (parent) -->
                <div id="reply-form-{{ comment.id }}" style="display: none;">
                    <form method="POST" action="{% url 'create-reply' workout.id comment.id %}">
                        {% csrf_token %}

                        {% comment %} <textarea name="comment" placeholder="Write your reply..." required></textarea> {% endcomment %}
                        <input name="comment" placeholder="Add a reply to comment..." required/>
                        <button class="button addBtn" type="submit">Submit reply</button>
                    </form>
                </div>

                <!-- Include replies recursively -->
                {% include 'backend/comments_replies.html' with comments=comment.replies.all %}
            </div>
        {% endfor %}
    </div>
</div>
</body>
{% endblock content %}