{% extends "layout.html" %}

{% block content %}
<head>
    <title>{% block title %}Delete workout{% endblock title %}</title>
</head>

<body>
<div class="base-body">
    <h1>Delete a workout</h1>
    
    <div>
        <p>
            Are you sure you want to delete workout "{{ workout.name }}" (date: {{ workout.created }})?
        </p>

        <form method="POST" action="">
        {% csrf_token %}

        <input class="button deleteBtn" type="Submit" value="Confirm" />
        </form>

        <p>
            <a href="{% url 'workouts' %}" class="button backBtn">Go back</a>
        </p>
    </div>
</div>
</body>
{% endblock content %}




