{% extends "layout.html" %}

{% block content %}
<head>
    <title>{% block title %}View private workout{% endblock title %}</title>
</head>

<body>
<div class="base-body">
{% if workout.user == request.user %}
    <h3>Date: {{ workout.created }}</h3>
    <h3>Workout name: {{ workout.name }}</h3>
    <h3>My bodyweight: {% if workout.bodyweight  %} {{ workout.bodyweight }} {% else %} Not added {% endif %}</h3>
    <h3>My notes: {% if workout.note %} {{ workout.note }} {% else %} Not added {% endif %}</h3>
    <h3>Workout visibility: {% if workout.public == "yes" %} Public {% else %} Private {% endif %}</h3>

    <br />
    <h3>Exercises:</h3>

    {% for exercise in workout.exercises.all %}
        <p><b>Exercise #{{ forloop.counter }}: {{ exercise.name }}</b> -- muscle group: {{ exercise.musclegroup.name }}:</p>

        <ol type="1">
            {% for workingset in workingsets %}
                {% if workingset.exercise == exercise and workingset.created == workout.created %}
                    <li>
                        {% if workingset.weight and workingset.repetitions %}
                            Weight: {{ workingset.weight }}, Reps: {{ workingset.repetitions }}
                        {% elif workingset.distance and workingset.time %}
                            Distance: {{ workingset.distance }}, Time: {{ workingset.time }}
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ol>
    {% endfor %}

    <a href='' class="button addBtn">Import workout</a>
    <a href="{% url 'workouts' %}" class="button backBtn">Go back</a>

{% else %}
    <p>This workout is not yours and is not public.</p>
{% endif %}
</div>
</body>
{% endblock content %}