{% extends "layout.html" %}

{% block content %}
<head>
    <title>{% block title %}Create workout{% endblock title %}</title>
</head>

<body>
<div class="base-body">
    <h3>Create / Edit workout</h3>
    <hr>
    <br>

    <div>
        <form method="POST" action="">
            {% csrf_token %}

            {{form.as_p}}
            <input class="button addBtn" type="Submit" value="Submit" />
        </form>

        <p><a href="{% url 'main' %}" class="button backBtn">Go back</a></p>
    </div>
</div>
</body>
{% endblock content %}