{% extends "layout.html" %}

{% block content %}
<head>
    <title>{% block title %}Add working set{% endblock title %}</title>
</head>

<body>
<div class="base-body">
    <h3>Add working set to exercise</h3>
    <hr>
    <br>

    <div>
        <button class="button editBtn" onclick="showForm('weight')">Weight type</button>
        <button class="button editBtn" onclick="showForm('endurance')">Endurance type</button>
    </div>
    <br>

    <form method="post" action="">

        {% csrf_token %}

        <div id="weightForm">
            <label for="set_type">Set Type:</label>
            <select name="type_weight" id="set_type">
                <option value="warmup">Warm Up Set</option>
                <option value="working">Working Set</option>
                <option value="dropset">Drop Set</option>
                <option value="restpause">Rest Pause Set</option>
                <option value="myo">Myo Set</option>
                <option value="cluster">Cluster Set</option>
                <option value="super">Super Set</option>
            </select>
            <br />
            <label for="weight">Weight:</label>
            <input type="text" name="weight" id="weight" required>
            <br>
            <label for="repetitions">Repetitions:</label>
            <input type="number" name="repetitions" id="repetitions" required>
        </div>

        <div id="enduranceForm" style="display:none;">
            <label for="set_type">Set Type:</label>
            <select name="type_endurance" id="set_type">
                <option value="warmup">Warm Up Set</option>
                <option value="working">Working Set</option>
                <option value="dropset">Drop Set</option>
                <option value="restpause">Rest Pause Set</option>
                <option value="myo">Myo Set</option>
                <option value="cluster">Cluster Set</option>
                <option value="super">Super Set</option>
            </select>
            <br />
            <label for="distance">Distance:</label>
            <input type="number" name="distance" id="distance" required>
            <br>
            <label for="time">Time:</label>
            <input type="text" name="time" id="time" required>
        </div>
        
        <br>
        <input class="button addBtn" type="button" value="Add set" onclick="prepareForm()">
    </form>
</div>

{% load static %}
<script src="{% static 'js/script_workingsets_create.js' %}"></script>
</body>
{% endblock content %}