{% extends "layout.html" %}

{% block content %}
<head>
    <title>{% block title %}Public workouts{% endblock title %}</title>
</head>

<body>
<div class="base-body">
    <h3>Public workouts ({{ public_workouts_count }} available to explore)</h3>
    <hr>
    <br>

    <form method="GET">
        <!-- Search bar -->
        <input type="text" name="q" placeholder="Search workouts by name" value="{{ q }}">

        <button class="button editBtn" type="submit">Search</button>

        <br /><br />
        
        <!-- Sorting options -->
        <select name="sort" onchange="this.form.submit()">
            <option value="created" {% if sort_by == 'created' %}selected{% endif %}>Sort by date</option>
            <option value="likes" {% if sort_by == 'likes' %}selected{% endif %}>Sort by likes</option>
        </select>
    </form>

    <br /><br />

    <p><a href='{% url "public-workouts" %}' class="button editBtn">All public workouts</a></p>


    <ul>
        {% for public_workout in public_workouts %}
            <p>
                <a href='{% url "view-public-workout" public_workout.id %}'>{{ public_workout.name }}</a>
                -- Created by {% if public_workout.user == request.user %}you {% else %}<a href='{% url "profile" public_workout.user.id %}'>{{ public_workout.user }}</a> {% endif %}
                on {{ public_workout.created }} (latest update on {{ public_workout.updated }})
                -- liked by {{ public_workout.total_likes }} users
                <a href='{% url "import-workout" public_workout.id %}' class="button addBtn">Import workout</a>
            </p>
        {% endfor %}
    </ul>
</div>
</body>
{% endblock content %}