{% extends "layout.html" %}

{% block content %}
<head>
    <title>{% block title %}Edit set{% endblock title %}</title>
</head>

<body>
<div class="base-body">
    <h1>Edit set</h1>

    <div>
        <form method="POST" action="">
            {% csrf_token %}

            {{form.as_p}}
            <input class="button addBtn" type="Submit" value="Submit" />
        </form>

        <p>
            <a href="{% url 'workouts' %}" class="button backBtn">Go back</a>
        </p>
    </div>
</div>
</body>
{% endblock content %}