<body>
    <div class="wrapper">
        <!-- Page content -->
        <header class="header">
            <!-- Navbar -->
        </header>
        
        <main class="content">
            <!-- Content -->
        </main>
        
        <footer class="footer">
            <div class="footer-links">
                <a href="{% url "about" %}">About</a>
                <a href="{% url "help" %}">Help</a>
                <a href="{% url "privacy" %}">Privacy Policy</a>
            </div>
            <p>© 2024 My Workout STATS. All Rights Reserved.</p>
        </footer>
    </div>
</body>